.mobile-nav {
    position: fixed;
    z-index: 200;
    right: 0;
    top: 57px;
    height: calc(100vh - 56px);
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e2e1e0;
    h2 {
        margin-top: 0.75rem;
        margin-left: 0.5rem;
    }
    .user-fantasy-banner {
        display: flex;
        flex-direction: column;
        .user-fantasy-banner__card {
            margin: 0px;
            border-radius: 0px;
            width: 100%;
            max-width: 100%;
            border-top: 1px solid #e2e1e0;
        }
    }
}
